body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    height: 100vh;
    background: linear-gradient(to right, #1d976c, #93f9b9);
    color: white;
    text-align: center;
    padding-top: 150px;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: white;
    color: #1d976c;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


