body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 40px;
}

.btn {
  background: #25D366;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

section {
  padding: 20px;
  background: white;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ddd;
}

